
body { font-family: Arial; padding: 20px; }

.input-with-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 6px;
}

.input-with-button input {
  height: 40px;
  padding: 5px;
}

.input-with-button button {
  height: 40px;
  font-size: 18px;
}
